<div class="main-wrapper">
    <div class="main-content">
        <div class="title-content">
            <div class="codeminds">
                <h3>THINK FIRST.<span>CODE SECOND</span></h3>
                <h1>CODE MINDS</h1>
                <p>¡Una alternativa de educación innovadora!
                    Adquiera habilidades profesionales en la industria de la tecnología a un precio accesible con un programa que integra al mercado laboral de manera rápida y eficiente.</p>
            </div>
            <div class="codeminds-characters">
                <img src="assets/img/character.png" alt="Mascotas de Code Minds">
            </div>
        </div>
        <div class="be-a-codemind">
            <div class="be-a-codemind-img">
                <h2>SER UN CODE MIND...</h2>
                <div class="divider"></div>
                <img src="assets/img/character2.png" alt="Mascota Code Minds pensativa">
            </div>
            <div class="be-a-codemind-text">
                <p>
                    Code Minds existe bajo una filosofía de aspiración al conocimiento por un genuino interés a mejorar nuestra vida y la de quienes nos rodean, fomentando la responsabilidad individual de hacer un esfuerzo propio por aprender, no el memorizar las respuestas de un examen para obtener una nota. <br><br> Buscamos formar líderes del pensamiento crítico capaces de imaginar y crear el futuro de nuestra sociedad por medio de la tecnología.  
                </p>
                <button>CONVERTIRSE EN PROFESIONAL</button>
            </div>
        </div>
        <div class="toggle-section">
            <div class="toggle-content">
                <div class="fundamentos-content">
                    <div class="fundamentos">
                        <img src="assets/img/fundamentos.png" alt="Imagen de fundamentos">
                        <h3 (click)="toggle()">FUNDAMENTOS</h3>
                        <span [ngClass]="{'closed-toggle' : !isOpen, 'open-toggle' : isOpen}" >
                            Capacitamos a nuestros estudiantes con las bases y conocimientos más fundamentales para comenzar en el mundo del desarrollo.
                        </span>
                    </div>
                </div>
                <div class="aprendizaje-content">
                    <div class="aprendizaje">
                        <img src="assets/img/aprendizaje.png" alt="Imagen de Aprendizaje">
                        <h3 (click)="toggle()">APRENDIZAJE</h3>
                        <span [ngClass]="{'closed-toggle' : !isOpen, 'open-toggle' : isOpen}" >
                            Nuestra metodología se centra en incentivar la sed de conocimiento y disfrutar el reto del aprendizaje, no en medir por medio de notas.
                        </span>
                    </div>
                </div>
                <div class="maestria-content">
                    <div class="maestria">
                        <img src="assets/img/maestria.png" alt="Imagen de Maestria">
                        <h3 (click)="toggle()">MAESTRIA</h3>
                        <span [ngClass]="{'closed-toggle' : !isOpen, 'open-toggle' : isOpen}" >
                            Nuestro proceso busca emular las condiciones reales del mercado para ayudar al estudiante a dominar los temas de manera experta y convertirse en un profesional líder en la industria del software.
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="why-codeminds">
            <h2>¿POR QUÉ CODE MINDS?</h2>
            <div class="divider"></div>
            <p>
                Las instituciones educativas escolares y universitarias rara vez ayudan a sus estudiantes a comprender el mundo real que les espera fuera del ámbito académico. Code Minds se enorgullece en formar profesionales  capaces de adaptarse a cualquier tecnología y metodología, expertos en solución de problemas, individuos con la iniciativa para contribuir al avance tecnológico del mundo. Ellos crean empleados, nosotros creamos mentes brillantes.
            </p>
            <button>EXPLORAR CURSOS</button>
        </div>
        <div class="referral">
            <h2>PROGRAMA DE REFERIDOS</h2>
            <div class="divider"></div>
            <p>
                Code Minds ofrece a sus estudiantes la oportunidad de generar beneficios al invitar a amigos, familia y compañeros a estudiar en nuestra academia.
            </p>
            <button>OBTENER BENEFICIOS</button>
        </div>
        <div class="testimonials-content">
            <h2>Testimonios</h2>
            <div class="divider"></div>
            <div class="carrousel-content">
                <c-carousel>
                    <c-carousel-indicators></c-carousel-indicators>
                    <c-carousel-inner>
                      <c-carousel-item *ngFor="let slide of slides">
                        <img
                          alt="{{slide.title}}"
                          class="d-block w-100"
                          loading="lazy"
                          src="{{slide.src}}"
                        />
                        <c-carousel-caption class="d-none d-md-block">
                          <h3>{{slide.title}}</h3>
                          <p>{{slide.subtitle}}</p>
                        </c-carousel-caption>
                      </c-carousel-item>
                    </c-carousel-inner>
                    <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
                    <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
                  </c-carousel>
            </div>
        </div>
    </div>
</div>










