@import './assets/css/theme.css';
@import './assets/css/reset.css';

body {
    line-height: 1.2;
    background-color: var(--color-background);
    height: 100%;
    overflow: hidden;
    background-image: url('./assets/img/background-image.png');
    background-position: left top 100px;
    background-size: 40% auto;
    background-repeat: no-repeat;
    margin: 0;
}

h1 {
    font-family: var(--font-title);
    font-size: 5.3rem;
    color: var(--title-color);
}

h2 {
    font-family: var(--font-title);
    color: var(--title-color);
    font-size: 3.5rem;
}
h3 {
    font-size: 2.6rem;
    font-family: var(--font-title);
    color: var(--title-color);
}

.divider {
    width: 32%;
    border-radius: 400px;
    height: 0.7rem;
    background-color: var(--color-green);
}