<!-- Inicio de la seccion del navbar -->
<header>
    <nav class="wrapper">
        <div class="logo-content">
            <img src="assets/img/logo-codeminds.png" alt="Logo de Code Minds">
        </div>
        <div class="menu-content">
            <ul class="links-content">
                <li>
                    <a href="#">Cursos</a>
                </li>
                <li>
                    <a href="#">Certificaciones</a>
                </li>
                <li>
                    <a href="#">Referidos</a>
                </li>
                <li>
                    <a href="#">Contacto</a>
                </li>
                <li>
                    <a href="#"><button class="portal-btn">Portal</button></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!--Fin de la seccion navbar-->
<main class="page">
    <router-outlet></router-outlet>
</main>
<!--Inicio de la seccion footer-->
<footer>
    <div class="footer-content">
        <div class="social-content">
            <ul class="social-links">
                <li>
                    <a href="#"><i class="fa-brands fa-facebook fa-3x" style="color: white;"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa-brands fa-instagram fa-3x" style="color: white;"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa-brands fa-linkedin fa-3x" style="color: white;"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa-brands fa-tiktok fa-3x" style="color: white;"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa-brands fa-discord fa-3x" style="color: white;"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa-brands fa-youtube fa-3x" style="color: white;"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa-brands fa-youtube fa-3x" style="color: white;"></i></a>
                </li>
            </ul>
        </div>
        <div class="contact-info">
            <a href="mailto:servicio@codemindsdev.com">servicio&#64;codemindsdev.com</a><br><br>
            <span> (+506) 8482-3842 </span>
        </div>
    </div>
        <div class="all-rights">
            <img src="assets/img/logo-codeminds.png" style="width: 2rem;" alt="Logo de CodeMinds">
            <span>Todos los derechos reservados ©2024</span>
        </div>
</footer>
<!--Fin de la seccion footer-->