<div class="slider-wrap">
  <div class="slider-content">
    <i class="fa-solid fa-chevron-left fa-4x arrow" style="color:white;" data-direction="left" aria-label="Testimonio anterior"></i>
    <div class="david">
      <h4>David Rodriguez</h4>
      <p>“Gracias a Code Minds pude aumentar mi conocimiento logrando así conseguir un trabajo de Full Stack, es una academia única donde enseñan lo más revelante y necesario para crecer como desarrollador.“</p>
    </div>
    <i class="fa-solid fa-chevron-right fa-4x arrow" style="color:white;" data-direction="right" aria-label="Siguiente testimonio"></i>
  </div>
</div>